<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :etype %>
  </div>

  <div class="field">
    <%= form.label :sentence_id %>
    <%= form.text_field :sentence_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
